@import '../variables';

.Nav {
    cursor: pointer;
    grid-area: nav;
    margin: 0;
    padding: 0;

    &_column {
        display: flex;
        flex-direction: column;
    }

    &-Item {
        opacity: .6;
            
        &:hover {
            opacity: 1;
        }

        &_orientation_horizontal {
            display: inline;
            text-decoration: none;
        }

        &_orientation_vertical {
            position: relative;
            list-style-type: none;
            margin: 0 0 30px;
            text-align: center;
            text-decoration: none;
        }

        &_size_big {
            color: $color-card-text-normal;
            font-size: $font-size-compact;
            font-weight: bold;
            line-height: 20px;
            margin-right: 27px;
        }

        &_size_small {
            color: $color-faded-text;
            font-size: $font-size-tiny;
            letter-spacing: 0.01px;
            margin-right: 15px;
        }

        &_active {
            opacity: 1;
        }
    }
}